@rendermode InteractiveServer
@using Microsoft.AspNetCore.Http.Connections.Client
@using Microsoft.AspNetCore.SignalR.Client
@using OrderBookTestTask.Application.Constants.SignalR
@using OrderBookTestTask.Application.Dtos
@using Radzen.Blazor
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>@TradingPair</PageTitle>

<h1>@TradingPair</h1>
@if (_askCharts.Count == 0 || _bidCharts.Count == 0)
{
    <p>Loading...</p>
}
else 
{
<div class="row">
    <div class="col-md-6">
        <RadzenChart>
            <RadzenColumnSeries Data="@_bidCharts" CategoryProperty="Label" Title="Bids"
                LineType="LineType.Dashed" ValueProperty="Value" Fill="green" />
            <RadzenColumnOptions Radius="5" />
            <RadzenValueAxis Formatter="@FormatValue">
                <RadzenGridLines Visible="true" />
                <RadzenAxisTitle Text="Amount" />
            </RadzenValueAxis>
        </RadzenChart>
    </div>
    <div class="col-md-6">
        <RadzenChart>
            <RadzenColumnSeries Data="@_askCharts" CategoryProperty="Label" Title="Asks"
                LineType="LineType.Dashed" ValueProperty="Value" Fill="red" />
            <RadzenColumnOptions Radius="5" />
            <RadzenValueAxis Formatter="@FormatValue">
                <RadzenGridLines Visible="true" />
            </RadzenValueAxis>
        </RadzenChart>
    </div>
</div>
}


@code {
    private const int NumberOfElementsToDisplay = 15;

    private HubConnection? _hubConnection;

    private List<ChartDto> _askCharts = new();
    private List<ChartDto> _bidCharts = new();

    [Parameter]
    public string? TradingPair { get; set; }


    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri(HubUrls.OrderBookHub), ConfigureHttpConnection)
            .Build();
            

        _hubConnection.On<string[][], string[][]>(Methods.ReceiveOrderBook, (asks, bids) =>
        {   
            _askCharts = asks.Select(ask => new ChartDto
            {
                Label = ask[0],
                Value = double.Parse(ask[1])
            })
            .Take(NumberOfElementsToDisplay)
            .ToList();
            _bidCharts = bids.Select(bid => new ChartDto
            {
                Label = bid[0],
                Value = double.Parse(bid[1])
            })
            .Take(NumberOfElementsToDisplay)
            .Reverse()
            .ToList();
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
        await _hubConnection.InvokeAsync(Methods.JoinRoom, TradingPair);
    }

    private static Action<HttpConnectionOptions> ConfigureHttpConnection = (configureHttpConnection) =>
        configureHttpConnection.HttpMessageHandlerFactory = (message) =>
        {
            if (message is HttpClientHandler clientHandler)
                clientHandler.ServerCertificateCustomValidationCallback +=
                    (sender, certificate, chain, sslPolicyErrors) =>  true;
            return message;
        };

    private string FormatValue(object value)
    {
        return Math.Round((double)value, 3).ToString();
    }
}